body {
	color: #797979;
	background: #eeeeee;
	font-family: 'Lato', sans-serif;
	padding-top: 60px;
}

/*Login & Signup Page*/
#login .card {
	background-color: #f8f8f8;
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #ffd700;
	width: 500px;
	padding: 10px;
	margin: 90px 400px;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.login-form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
	#login .card {
		margin: 90px 400px;
	}
}

@media screen and (min-width: 1196px) and (max-width: 1360px) {
	#login .card {
		margin: 90px 300px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1189px) {
	#login .card {
		margin: 90px 100px;
	}
}
